body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #007bff;
    color: white;
    margin: 0;
    padding: 20px;
}
 
h1 {
    margin-bottom: 20px;
}
 
#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}
 
.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    text-transform: uppercase;
}
 
input {
    padding: 10px;
    font-size: 16px;
    width: 120px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}
 
button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 9%;
    border-color: blanchedalmond;
}
 