body {
  color: white;
    background-color: #007bff;
    background-image:
    linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px);
    background-size: 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

 
h1 {
    margin-bottom: 20px;
}
 
#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}
 
.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    text-transform: uppercase;
}
 
.cell.cursor {
    position: relative;
}

.cell.cursor::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: rgb(236, 229, 229); 
    border-radius: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}


button {
    padding: 12px 24px;
    font-size: 16px;
    color: #e0f4ff;
    background-color: #0a2a43;
    border: 2px solid #3fa9f5;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(63, 169, 245, 0.6);
    transition: all 0.3s ease;
    align-items: center;
}

button:hover {
    box-shadow: 0 0 20px rgba(63, 169, 245, 1);
    background-color: #123d63;
}

 
.green {
    background-color: #28a745; 
}
 
.orange {
    background-color: #fd7e14;

}
 
.grey {
    background-color: #6c757d;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
 
#message {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}